a {
  color: #388DFF;
  text-decoration: none;
}
.bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 720px;
}
.fenbi-link {
  *zoom: 1;
  position: relative;
  width: 960px;
  margin: 0 auto;
  height: 90px;
  color: #999;
}
.fenbi-link:before,
.fenbi-link:after {
  display: table;
  content: "";
  line-height: 0;
}
.fenbi-link:after {
  clear: both;
}
.fenbi-link p {
  width: 252px;
  float: right;
  clear: both;
  margin: 0;
  border-left: 1px solid #BEBEBF;
  padding-left: 10px;
  font-size: 13px;
}
.fenbi-link p.first {
  margin-top: 14px;
  padding-bottom: 3px;
}
.fenbi-link p.last {
  padding-top: 3px;
}
.main {
  position: relative;
  z-index: 2;
  width: 960px;
  margin: 0 auto;
  height: 620px;
}
.main .logo {
  display: block;
  margin-top: -3px;
  margin-bottom: 38px;
}
.main .logo img {
  border: none;
}
.footer {
  background: #FFFFFF;
  height: 122px;
}
.footer .footer-content {
  width: 960px;
  margin: 0 auto;
  padding-top: 23px;
  font-size: 12px;
  color: #A2A2A2;
  text-align: right;
}
.footer .footer-content a {
  color: #A2A2A2;
}
.footer .footer-content p {
  margin-bottom: 10px;
}
.footer .footer-content img {
  vertical-align: baseline;
  margin-bottom: -2px;
}
.mobile {
  display: block;
  width: 134px;
  height: 134px;
  float: left;
  margin-right: 16px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0px;
  line-height: 0px;
  position: relative;
}
.mobile img {
  border: 0;
  position: relative;
}
.mobile.disabled {
  cursor: default;
}
.mobile.iphone {
  background: url(./9136f7fc-iphone-N.png) no-repeat;
}
.mobile.iphone:hover {
  background: url(./87010a8f-iphone-H.png) no-repeat;
}
.mobile.iphone:active {
  background: url(./100e4a01-iphone-P.png) no-repeat;
}
.mobile.iphone.disabled {
  background: url(./4f5fefc7-iphone-D.png) no-repeat;
}
.mobile.ipad {
  background: url(./ff1bac96-ipad-N.png) no-repeat;
}
.mobile.ipad:hover {
  background: url(./cb294662-ipad-H.png) no-repeat;
}
.mobile.ipad:active {
  background: url(./48b75c5c-ipad-P.png) no-repeat;
}
.mobile.ipad.disabled {
  background: url(./ae994de5-ipad-D.png) no-repeat;
}
.mobile.android {
  background: url(./56ee7aa3-android-N.png) no-repeat;
}
.mobile.android:hover {
  background: url(./74d93e9f-android-H.png) no-repeat;
}
.mobile.android:active {
  background: url(./b2ae6ddb-android-P.png) no-repeat;
}
.mobile.android.disabled {
  background: url(./3d3e0ff3-android-D.png) no-repeat;
}
.header-subtitle {
  margin-bottom: 172px;
}
#userCount {
  color: #999;
  margin-top: 24px;
}
#userCount.loading {
  color: #999;
}
.mobile-wrap {
  *zoom: 1;
  margin-top: 33px;
  margin-left: -10px;
  position: relative;
}
.mobile-wrap:before,
.mobile-wrap:after {
  display: table;
  content: "";
  line-height: 0;
}
.mobile-wrap:after {
  clear: both;
}
.mobile-wrap a {
  outline: none;
}
.mobile-wrap a.barcode {
  position: absolute;
  top: 10px;
}
.slides-wrap {
  position: absolute;
  top: -1px;
  right: -5px;
  background: url(./c6b8f1e6-slide-frame.png) no-repeat;
}
.slides {
  position: relative;
  height: 415px;
  width: 932px;
}
.slides-shadow {
  width: 233px;
  height: 415px;
  overflow: hidden;
  position: relative;
  margin: 75px 22px 77px 23px;
}
